

// VARIABLES
// ----------------

$background-color: #efefef;

$color-primary    : darken($background-color, 5%);
$color-secondary  : lighten($background-color, 10%);
$color-dark       : darken($background-color, 10%);

$color-1: $background-color;
$color-2: darken($color-primary, 20%);
$color-3: lighten($color-primary, 20%);

$skew-0                         : rotateZ(180deg) rotateX(0) rotateY(180deg) skewY(-20deg);
$skew-1                         : rotateZ(180deg) rotateX(0) rotateY(180deg) skewY(20deg);
$row-length                     : 10;               // integer  - .row length in index.html
$element-length                 : $row-length * 10;



$element-shape                          : stick; // square, circle, triangle, stick
$element-size                           : 100px;
$element-float                          : true;
$color-style-setting                    : stroke; // stroke, fill

$wrapper-opacity                        : 1;
$animation-max-duration                 : 100;

$random-color-toggle                    : true;


// random || sequence || sideways || new || together
$animation-sequence-setting             : random;


// random | burst | scaling | colors | randomcolors | burstcolors | panels | pulse | explode | panelsburst
// -------------------------------------------------------------------------------------------------------

$animation-style-setting                : random;
$element-opacity                        : 0;


